.main-contents {
  max-width: 450px;
  margin: auto;
  margin: 0 auto;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-areas:
    "image"
    "contents";
  gap: 5rem;

  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contents image";
    max-width: 1440px;
  }

  .illustration-wrapper {
    grid-area: image;
    width: 100%;
    overflow: hidden;

    svg {
      height: 100%;
      width: 147%;
    }
  }

  .content-section {
    grid-area: contents;
    padding: 0 var(--space);

    @media screen and (min-width: 750px) {
      padding: 0 0 0 4rem;
    }

    .type-name {
      text-transform: uppercase;
      font-size: 1rem;
      letter-spacing: 5px;
      color: var(--grayish-blue);
      margin-bottom: 1rem;

      span {
        background-color: var(--very-dark-blue);
        border-radius: 999px;
        padding: 0.1rem 0.5rem;
        margin-right: 0.5rem;
        color: var(--white);
        letter-spacing: 0;
      }
    }

    .primary-heading {
      line-height: 1;
      text-transform: uppercase;
      color: var(--very-dark-blue);
      margin-bottom: 1rem;
      font-size: clamp(2.5rem, 5vw, 4rem);
    }

    .secondary-heading {
      font-weight: 400;
      font-size: 1.1rem;
      padding-right: 3rem;
      color: var(--grayish-blue);
      line-height: 1.3;
      margin-bottom: 2rem;
      font-family: "Barlow", sans-serif;
    }

    .cta-line {
      color: var(--grayish-blue);
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 2px;
      line-height: 3;

      span {
        display: inline-block;
        background-color: var(--red);
        padding: 0.2rem 1.5rem;
        border-radius: 5px;
        color: var(--white);
        letter-spacing: 1px;
        margin-right: 1rem;
        font-weight: 700;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background-color: var(--red-pale);
        }
      }
    }
  }
}
